In [2]:
def square(var):
    return var**2
print(square(5))

25

In [25]:
list1 = [1,2,3]
list2 = ['a','b','c']
r = zip(list1,list2)
print(list(r))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [30]:
list3 = [10,30,10,75,80]
print(list3.count(list3[2]))

2

In [33]:
student = dict(name = 'zakir', age =30, major = 'CS')
print(student)
print(student.keys())
print(student.values())
print(student.items())

{'name': 'zakir', 'age': 30, 'major': 'CS'}
dict_keys(['name', 'age', 'major'])
dict_values(['zakir', 30, 'CS'])
dict_items([('name', 'zakir'), ('age', 30), ('major', 'CS')])

In [43]:
freq = {}
list1 = [10,2,56,2,11,10,78,90,2]
for i in list1:
    freq[i]=list1.count(i)
print(freq)

{10: 2, 2: 3, 56: 1, 11: 1, 78: 1, 90: 1}

In [47]:
t = (1,50,60,89)
for i in range(len(t)):
    print(t[i])
print(t.count(60))

1
50
60
89
1

In [48]:
f = ('apple','mango','orange')
print(f.count('apple'))

1

In [30]:
def func1(x):
    if x > 10:
        print("hello")
    else:
        print("bye")
func1(20)

hello

In [28]:
string1  = "123"
string2  = "321"
for i in string1:
    for j in string2:
        if string1[i]==string2[j]:
            print("Same")

TypeError: string indices must be integers, not 'str'

In [33]:
while True:
    print("Whats your name")
    name = input()
    if name!='owais':
        continue
    print("Hey owais,tell your password")
    password = input()
    if password=='lion':
        break
    print("Acess granted")

Whats your name
Hey owais,tell your password

In [61]:
list1 = ['larry','curly','moe']
print(list1)
list1.append('smith')
print(list1)
list1.insert(2,'william')
print(list1)

list2 = ['xxx','yyy']
list2.extend(list1)
print(list2)
print(list1)
print(list2.index('yyy'))
list2.remove('yyy')
print(list2)
list2.pop()
print(list2)
list2.reverse()
print(list2)
print(list2[::-1])
list2.remove('william')
print(list2)
list2.sort()
print(list2)
list3 = ['moe','william','banana','mango']
list3.sort()
print(list3)

list4 =[10,20,30,40,50]
for index, value in enumerate(list4):
    print("index:",index,"value:",value)

['larry', 'curly', 'moe']
['larry', 'curly', 'moe', 'smith']
['larry', 'curly', 'william', 'moe', 'smith']
['xxx', 'yyy', 'larry', 'curly', 'william', 'moe', 'smith']
['larry', 'curly', 'william', 'moe', 'smith']
1
['xxx', 'larry', 'curly', 'william', 'moe', 'smith']
['xxx', 'larry', 'curly', 'william', 'moe']
['moe', 'william', 'curly', 'larry', 'xxx']
['xxx', 'larry', 'curly', 'william', 'moe']
['moe', 'curly', 'larry', 'xxx']
['curly', 'larry', 'moe', 'xxx']
['banana', 'mango', 'moe', 'william']
index: 0 value: 10
index: 1 value: 20
index: 2 value: 30
index: 3 value: 40
index: 4 value: 50

In [63]:
list1 = list(range(8))
print(list1)
print(type(list1))

[0, 1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [67]:
list2 = [['owais','bhat'],[10,12,14,16]]
print(list2)
print(list2[0])
print(list2[0][1])

[['owais', 'bhat'], [10, 12, 14, 16]]
['owais', 'bhat']
bhat

In [75]:
list3 = ["apple","pear","grapes","mango"]
print(list3[:])

['apple', 'pear', 'grapes', 'mango']

In [79]:
list1 = [1,2,3]
list2 = ['a','b','c']
result = list1 + list2
print(result)
list1 = list1*2
print(list1)

[1, 2, 3]

In [7]:
list1 = [100,500,800,750]
del list1 [2:3]
print(list1)

[100, 500, 750]

In [8]:
list1 = [5,15,35,40,50]
if 15 in list1:
    print('Element found')
if 'apple' not in list1:
    print('Element not in list')

Element found
Element not in list

In [9]:
list1 =[]
list1.append('a')
list1.append('b')
list1.append(100)
print(list1)

['a', 'b', 100]

In [11]:
list1 = ['a','b','c','d']
print(list1)
list1[0:2] = 'z'
print(list1)

['a', 'b', 'c', 'd']
['z', 'c', 'd']

In [23]:
d = {"name" : "tanzeel", 
     'rollno' : 1 ,
     'age' : 31 }
print(d['age'])

31

In [24]:
d2 = {}
d2['name'] = 'amjad'
d2['address'] = 'city'
print(d2)

{'name': 'amjad', 'address': 'city'}

In [3]:

fruits=['apple','banana','cherry','kiwi']
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana']

In [2]:
x = lambda a:a+10
print(x(5))

15

In [12]:
x = lambda a,b:a*b 
print(x(5,6))

30

In [16]:
Max = lambda a,b:a if (a>b) else b
print(Max(1,2))

2

In [24]:
def func1(a,b):
    if a>b:
        print(a)
    else:
        print(b)
func1(3,4)

4

In [38]:
li = [5,7,22,97,54,62,77]
finallist =list(filter(lambda x:(x%2!=0),li))
print(finallist)

[5, 7, 97, 77]

In [40]:
ages = [13,90,17,59,21,60,5]
adult_age =list(filter(lambda x:x>18,ages))
print('Age of adults are :',adult_age)

Age of adults are : [90, 59, 21, 60]

In [41]:
li =  [5,7,22,54,64]
fl = list(map(lambda x:x*2,li))
print(fl)

[10, 14, 44, 108, 128]

In [46]:
l1 = ['Horse','Goat','elephant','Cow']
fl = list(map(lambda x:x.upper(),l1))
print(fl)

['HORSE', 'GOAT', 'ELEPHANT', 'COW']