In [1]:
import pandas as pd
data = [10,20,30,40,50]
index = ['A','B','C','D','E']
series = pd.Series(data, index = index)
print(series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [2]:
squared_series = series**2
print(squared_series)

A     100
B     400
C     900
D    1600
E    2500
dtype: int64

In [3]:
print(series['B'])

series += 5
print(series)

filtered_series = series[series > 30]
print(filtered_series)

20
A    15
B    25
C    35
D    45
E    55
dtype: int64
C    35
D    45
E    55
dtype: int64

In [56]:
data = {'Name' : ['Alice','Bob','Charlie','David'],
        'Age' : [ 25, 30, 22, 28 ],
        'City' : ['NY','LA','Chicago','Houston']}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   22  Chicago
3    David   28  Houston

In [57]:
print(df.head())
print(df['Name'])

      Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   22  Chicago
3    David   28  Houston
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [58]:
print(df.iloc[0])

Name    Alice
Age        25
City       NY
Name: 0, dtype: object

In [59]:
subset_rows = df.iloc[0:4]
print(subset_rows)

      Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   22  Chicago
3    David   28  Houston

In [60]:
row_bob = df.loc[df['Name'] == 'Bob']
print(row_bob)

subset_rows = df.loc[[0, 2]]
print(subset_rows)

subset = df.iloc[1:3, 1:3]
print(subset)

  Name  Age City
1  Bob   30   LA
      Name  Age     City
0    Alice   25       NY
2  Charlie   22  Chicago
   Age     City
1   30       LA
2   22  Chicago

In [61]:
subset = df.loc[0:3,['Name','Age']]
print(subset)


young_people = df[df['Age'] <30]
print(young_people)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28
      Name  Age     City
0    Alice   25       NY
2  Charlie   22  Chicago
3    David   28  Houston

In [62]:
chicago_results = df[df["City"] == 'Chicago']
print(chicago_results)

      Name  Age     City
2  Charlie   22  Chicago

In [63]:
df['Salary'] = [6000, 7000, 5500, 6000]
print(df)

      Name  Age     City  Salary
0    Alice   25       NY    6000
1      Bob   30       LA    7000
2  Charlie   22  Chicago    5500
3    David   28  Houston    6000

In [64]:
df.rename(columns = {'Age' : 'Years'} , inplace = True)
print(df)

      Name  Years     City  Salary
0    Alice     25       NY    6000
1      Bob     30       LA    7000
2  Charlie     22  Chicago    5500
3    David     28  Houston    6000

In [65]:
df.drop(columns = ['City'], inplace = True)
print(df)

      Name  Years  Salary
0    Alice     25    6000
1      Bob     30    7000
2  Charlie     22    5500
3    David     28    6000